#darken {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.container {
    z-index: 0;
    width: 90%;
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;

    #time {
        font-size: 30px;
    }

    #note_dialog {
        width: 0px;
        height: 0px;
        padding: 10px;
        background-color: white;
        margin: 0 auto;
        position: absolute;
        top: 100px;
        border: none;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        text-align: center;
        z-index: 10;
        transition: width 2s, height 4s;
    }

    #note {
        width: calc(100% - 10px);
        border: none;
        border-bottom: 1px solid #cccccc;
        outline: none;
        transition: 150ms ease-in-out;
    }

    #note:focus {
        border-bottom: 1px solid #424242;
    }

    .note_dialog_buttons {
        margin-top: 15px;
        width: calc(100% - 10px);
    }

    .btn_close,
    .btn_confirm {
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        background: none;
        outline: none;
        transition: 180ms ease-in-out;
        cursor: pointer;
    }

    .btn_confirm:hover {
        color: #00e676;
    }

    .btn_close:hover {
        color: #e91e63;
    }

    #timetable {
        width: 100%;
        border-collapse: collapse;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        overflow: hidden;

        th,
        td,
        tr {
            position: relative;
            background-color: white;
            border: 1px solid #cccccc;
            width: 100px;
            height: 80px;
            overflow: hidden;
        }

        th {
            background-color: #f2f2f2;
        }

        tr {
            td:nth-child(odd) {
                width: 133px;
            }
        }

        .cell_icon {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .practice {
            background: linear-gradient(90deg, #3d5afe 0%, #304ffe 100%);
            color: white;
            transition: 150ms ease-in-out;
        }

        .lecture {
            background: linear-gradient(90deg, #e91e63 0%, #d81b60 100%);
            color: white;
            transition: 150ms ease-in-out;
        }

        .lecture:hover,
        .practice:hover {
            opacity: 80%;
            cursor: pointer;
        }

        .pale {
            opacity: 40%;
        }
    }

    .timetable_container {
        position: relative;

        #pin {
            position: absolute;
            border-left: 5px solid rgba(0, 204, 102, 0.7);
            height: 83px;
            z-index: 2;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

            &:before {
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 10px;
                position: absolute;
                left: -10.5px;
                top: -6px;
                background-color: rgb(0, 204, 102, 0.7);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            }
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }

    #button_lecture,
    #button_practice {
        color: white;
        width: 150px;
        height: 30px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        outline: none;
        font-family: 'Rajdhani', sans-serif;
        margin-top: 5px;
    }

    #button_lecture {
        background-image: linear-gradient(90deg, #e91e63 0%, #d81b60 100%);
        margin-right: 2px;
        margin-left: 5px;
        transition: 150ms ease-in-out;
    }

    #button_practice {
        background-image: linear-gradient(90deg, #3d5afe 0%, #304ffe 100%);
        transition: 150ms ease-in-out;
    }

    #button_lecture:hover,
    #button_practice:hover {
        opacity: 80%;
        cursor: pointer;

    }

    .button_lecture_inactive,
    .button_practice_inactive {
        background-image: none !important;
        background-color: white !important;
        color: black !important;
    }

}

@media only screen and (max-width: 600px) {
    .container {
        width: 99%;
    }
}